{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/home.js"}}" as="script" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrapClasses.css"}}" media="screen" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{/contentFor}}

{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image }}

<main class="main-wrap">
  {{!-- Everything inside the #post tags pulls data from the post --}}
  {{#post}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{> hero background=feature_image}}
    <div class="m-hero__content" data-animate="fade-down">
      <h1 class="m-hero-title bigger">{{title}}</h1>
      {{#if custom_excerpt}}
        <p class="m-hero-description">{{custom_excerpt}}</p>
      {{/if}}
    </div>
    </section>
    <article>
      <div class="l-content">
        <div class="l-wrapper in-post" data-animate="fade-up">
          <div class="l-post-content">
            <div class="pos-relative js-post-content">
              <div style="padding-top: 2rem; padding-bottom: 2rem">
                {{> countdownESU }}
              </div>
             <div>
                <h1 style="text-align: center;">Acte necesare</h1>
                <p style="font-size: 16px;">
                <b>a) Formularul de înscriere</b> de la adresa www.esu.osut.org - completat online<br />
                <b>b) Adeverință din partea instituției de învățământ</b> care atestă calitatea de elev în clasa a XI-a a
                aplicantului<br />
                <b>c) Regulamentul prezent semnat</b> de către reprezentantul legal al participantului pe fiecare pagină și
                scanat<br />
                <b>d) Fotografie</b> de tip buletin (format .jpeg 3/4)<br />
                <b>e) Formular</b> de acord a prelucrării datelor cu caracter personal (GDPR)<br />
                <b>f) Diplome</b> care să ateste activitatea menționată în formular<br />
                <b>g) Copie după buletin</b><br />
                <b>h) Acord parental</b> - semnarea acordului parental atestă faptul că părinții aplicantului au luat la
                cunoștință și sunt de acord cu prezentul regulament, sau, în cazul în care aplicantul este major (are peste 18 ani
                împliniți), declarație pe proprie răspundere semnată de către acesta<br />
                <b>j) Adeverință medicală</b> care atestă faptul că participantul este clinic sănătos.<br />
                <b>k) Aviz epidemiologic</b><br />
                </p>
              </div>
              <div style="text-align:center; padding-top: 3rem;">
                  <div class="row">
                    <div class="col-md-6 mobile">
                      <a href="/regulament" style="text-decoration: underline;"><h1 class="onHover">Regulament</h1></a>
                    </div>
                    <div class="col-md-6 mobile desktop">
                      <button style="background-color: #FF8000; border-radius: 4px;">
                          <a href="https://esu.osut.org/content/files/2023/04/Regulament-ESU.pdf" target="_blank" style="color:white;font-size:30px;">Descarcă <i class="fa fa-download"></i></a>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mobile">
                      <a href="/gdpr" style="text-decoration: underline;"><h1 class="onHover">Formular GDPR</h1></a>
                    </div>
                    <div class="col-md-6 mobile desktop">
                      <button style="background-color: #FF8000; border-radius: 4px;">
                            <a href="https://esu.osut.org/content/files/2023/04/Formular-GDPR-ESU-2023.pdf" target="_blank" style="color:white;font-size:30px;">Descarcă <i class="fa fa-download"></i></a>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mobile">
                      <a href="/acord-parental" style="text-decoration: underline;"><h1 class="onHover">Acord Parental</h1></a>
                    </div>
                    <div class="col-md-6 mobile desktop">
                      <button style="background-color: #FF8000; border-radius: 4px;">
                          <a href="https://esu.osut.org/content/files/2023/04/Acord-Parental_ESU2023.pdf" target="_blank" style="color:white;font-size:30px;">Descarcă <i class="fa fa-download"></i></a>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mobile">
                      <a href="/declaratie" style="text-decoration: underline;"><h1 class="onHover">Declarație pe propria răspundere</h1></a>
                    </div>
                    <div class="col-md-6 mobile desktop">
                      <button style="background-color: #FF8000; border-radius: 4px;">
                          <a href="https://esu.osut.org/content/files/2023/04/Declara-ie-pe-propria-r-spundere_ESU2023.pdf" target="_blank" style="color:white;font-size:30px;">Descarcă <i class="fa fa-download"></i></a>
                      </button>
                    </div>
                  </div>
                  <div class="align-items:center;">
                    <h1 style="text-decoration: underline;">Formular Înscriere</h1>
                  </div>
                  <div>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfi0cEIm73jf_8JINvTckHEDffrx6IiL6sjPJFh_kE3uVHGLA/closedform" class="size"></iframe>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  {{/post}}
</main>

<style>
  h1.onHover:hover{
    background-color: whitesmoke;
    color: black;
    text-decoration-color: black;
    text-decoration: underline;
  }
  .desktop{
      padding-top: 2rem;
  }
  .size{
    width: 100%;
    height: 700px;
  }
  @media only screen and (max-width: 620px) {
    .mobile{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .desktop{
      padding-top: 0rem;
    }
    .size{
      height: 400px;
    }
}
</style>
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
{{/contentFor}}
